page-mapsummary {
    .image-div {
        height: 329px;
        background-size: contain;
    }
    .place-image {
        display: inline-block;
        width: 23%;
        height: 115px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}