<ion-header>

  <ion-navbar>
    <ion-title>Timeline Preview</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="activeTrips">
  <div class="divider-title trip-name-fixed fixed">{{currentTrip.location}}</div>
  <ul class="timeline">
    <li *ngFor="let attraction of currentTrip.attractions">
      <div class="timeline-thumb bg-color-blue timeline-icon">
        <p class="timing-label">{{attraction.startTime}}</p>
      </div>
      <div class="timeline-item">
        <div class="slider-image" [ngStyle]="{'background-image': 'url(' + attraction.image + ')'}"></div>
        <ion-item>
          <ion-icon color="subtle" large item-start name='locate'></ion-icon>
          <p>{{attraction.title}}</p>
          <p>{{attraction.address.place + " " + attraction.address.city}}</p>
        </ion-item>
        <ion-item actions>
          <span ion-text item-start color="secondary" class="item-bold">2 - 3 hours</span>
          <button ion-button color="primary" clear *ngIf="!attraction.addedToTrip" item-end icon-start (click)="addToTrip(attraction)">
                    <ion-icon name='add'></ion-icon>
                    Add
                </button>
          <button ion-button color="primary" clear *ngIf="attraction.addedToTrip" item-end icon-start (click)="addToTrip(attraction)">
                    <ion-icon name='minus'></ion-icon>
                    Remove
                </button>
        </ion-item>
      </div>
    </li>
  </ul>
  <ion-fab bottom="" right="" (click)="continue()">
    <button ion-fab color="danger"><ion-icon name="arrow-dropright"></ion-icon></button>
  </ion-fab>
</ion-content>