<ion-header>
    <ion-toolbar>
        <ion-title>
            Nearby Offers
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="content-wrapper-toolbar">
    <ion-list>
        <ion-item *ngFor="let attraction of attractions; let i = index">
            <div class="timeline-thumb bg-color-blue timeline-icon">
            </div>
            <div class="timeline-item">
                <div class="slider-image" [ngStyle]="{'background-image': 'url(' + attraction.image + ')'}"></div>
                <ion-item>
                    <ion-icon color="subtle" large item-start name='locate'></ion-icon>
                    <p>{{attraction.title}}</p>
                    <p>{{attraction.address.place + " " + attraction.address.city}}</p>
                </ion-item>
                <ion-item actions>
                    <span ion-text item-start color="secondary" class="item-bold">{{0.3 + i + " KM"}}</span>
                    <button ion-button color="primary" clear *ngIf="!attraction.addedToTrip" item-end icon-start (click)="addToTrip(attraction)">
                    <ion-icon name='add'></ion-icon>
                    Add
                </button>
                    <button ion-button color="primary" clear *ngIf="attraction.addedToTrip" item-end icon-start (click)="addToTrip(attraction)">
                    <ion-icon name='minus'></ion-icon>
                    Remove
                </button>
                </ion-item>
            </div>
        </ion-item>
    </ion-list>
</ion-content>